* {
 border: 0px;
 padding: 0;
 margin: 0;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.button {
    background-color: blue;
    font-size: 24px;
    font-weight: 600;
    color: brown;
    border-radius: 10px;
    color: white;
    height: 60px;
    width: 120px;
}

.button-hide {
    display: none;
}

.image {
    display: none;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.image-display {
    display: block;
}